.subscription-container {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  padding: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}

.cards-h1 {
  margin-top: 50px;
  font-weight: 400;
}

.buy-btn {
  padding: 10px 55px;
  border-radius: 4px;
  background-color: #ef8236;
  color: white;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 4px;
  font-size: 16px;
  font-weight: DM Sans, sans-serif;
}

.buy-btn:hover {
  background-color: #de7529;
  cursor: pointer;
}

.subscription-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  /* margin: 20px; */
  width: 300px;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subscription-card h2 {
  color: #e86101;
}

.subscription-card p {
  margin: 10px 0;
}

.nighttime .subscription-card p {
  color: rgb(242, 225, 225);
  margin: 10px 0;
}

.subscription-card:hover {
  transform: translateY(-15px);
  transition: all 0.4s ease-in-out;
  /* transition: all 0.5s ease-in; */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.nighttime .subscription-card:hover {
  transform: translateY(-15px);
  transition: all 0.4s ease-in-out;
  /* transition: all 0.5s ease-in; */
  box-shadow: 0 15px 20px rgba(247, 246, 246, 0.441);
}

.line {
  margin: 30px 15px;
}

.list-item {
  text-align: left;
}

.list-item li {
  padding: 4px;
  color: #666;
}

@media (max-width: 640px) {
  .subscription-container {
    padding: 0px;
  }
}
